body{
    background-color: #EEEEFF;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.Cabeza {
    align-items: center;
}
.Titulo {
   color: #0D0907;
   text-align: center;
   font-size: 50px;
   font-weight: bold;
   font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  
}
.caja1 {
    background-color:  rgba(172, 170, 191, 0.89);
    padding: 20px;
    width: 1300px;
    margin: auto;
    margin-top: 20px;
    
  
}
.texto {
   color: #0D0907;
   text-align: center;
   font-size: 24px;
   font-weight: bold;
}
.innn {
    margin-top: 20px;
}
.caja2 {
    background-color: rgba(172, 170, 191, 0.89);
    padding: 20px;
    width: 800px;
    margin: auto;
 
    margin-right: 87px;
    
  
}
p {
    text-align: justify;
      font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  
}
h2 {
    text-align: left;
      font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  
}
