body {
    background-image: url(../imagenes/FondoInicio.jpg);
    background-size:cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Asegura que la imagen cubra toda la pantalla */
    margin: 0; /* Elimina márgenes */

}

.pedro {
    background-color: rgba(21, 14, 96, 0.89);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.pepe {
    font-family: 'Chakra Petch';
    font-size: 25px;
}

.boton:hover  {
    background-color: rgba(71, 61, 198,0.89);
    border-radius: 14%;
    transform: translateY(-2.5px);
}