.cuerpo {
    background-image: url(../imagenes/FondoInicio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.pedro {
    background-color: rgba(21, 14, 96, 0.89);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.pepe {
    font-family: 'Chakra Petch';
    font-size: 25px;
}

.boton:hover {
    background-color: rgba(71, 61, 198, 0.89);
    border-radius: 14%;
    transform: translateY(-2.5px);
}

.contenido-bloque {
    margin-top: 50px;
    background-color: rgb(255, 255, 255, 0.65);
   /* background: linear-gradient(to right, #fff0f5, #ffe4ec);*/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 700%;
    max-width: 1000px;
    color:#000000;
    position: absolute;
    left: 230px;
    max-width: 900px;
    border: 5px solid #eda668;
   
}

.cuadro {
    position: absolute;
    top: 10%;
    left: 0px;
    width: 400%;
 
    background: #EAEAF6;
    color: #212529;
    border: 3px solid #33254e;
    padding: 150px;
    width: 1200px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    max-width: 1800px;
    margin-left: 0 px;
    margin-right: auto;
}

