<div class="cuadro">
    <h1 class="mb-4">CONSULTA RADIACIÓN SOLAR</h1>
    <br>
    <br>
    <br>
    <div class="row align-items-end">
        <div class="col-md-4">
            <label class="form-label">Seleccione la ciudad</label>
            <select ng-model="ciudadSeleccionada" ng-options="c.ciudad for c in ciudades"
                ng-change="consultarRadiacion(ciudadSeleccionada)">
                <option></option>
            </select>
        </div>
        <div class="col-md-4">
            <label class="form-label">Desde</label>
            <input type="date" ng-model="desde">
        </div>
        <div class="col-md-4">
            <label class="form-label">Hasta</label>
            <input type="date" ng-model="hasta">
        </div>
    </div>
    <div ng-if="ciudadSeleccionada">
        <h3>Información de la Ciudad</h3>
        <p><strong>Nombre:</strong> {{ ciudadSeleccionada.ciudad }}</p>
        <p><strong>Latitud:</strong> {{ ciudadSeleccionada.lat }}</p>
        <p><strong>Longitud:</strong> {{ ciudadSeleccionada.lon }}</p>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm">
                    <thead class="table-light">
                        <tr>
                            <th>Fecha</th>
                            <th>kWh/m²</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(fecha, valor) in radiacion">
                            <td>{{ fecha }}</td>
                            <td>{{ valor }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <canvas id="grafico" style="width:100%;height:300px"></canvas>
        </div>
    </div>
</div>